*{
    margin: 0;
    padding: 0;
}
.titel1{
    position: absolute;
    top: 17%;
    /* left: 40%; */
    text-align: center;
    /* margin: 0 auto; */
    font-size: 40pt;
}
.titel2{
    position: absolute;
    top: 47%;
    /* left: 40%; */
    text-align: center;
    /* margin: 0 auto; */
    font-size: 40pt;
}
.titel3{
    position: absolute;
    top: 77%;
    /* left: 40%; */
    text-align: center;
    /* margin: 0 auto; */
    font-size: 40pt;
}
div{
    width: 100%;
    height: 500px;
    display:flex;
    justify-content: center;
    
}

a{
    text-decoration-line: none;
}
a:link{
    color: black;
}
a:visited{
    color:black;
}
a:active{
    color:black;
}